<% include layout/_header %>
<div class="container">
  <% posts.forEach(function(posts){ %>
    <div class="row">
      <div class="col-sm-12">
      <h1><%= posts.postName %></h1>
      <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
      <span class="author"><a href="/author/id"><%= author %></a></span>
      <hr>
      <div>
        <%= posts.postText %>
      </div>
      <br><a href="/post/<%= posts.id %>" class="btn btn-info" role="button">Читать в источнике</a><hr>
    </div>
  </div>

    <% }); %>

    <div class="row">
      <div class="col-sm-12">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li><a href="#">3</a></li>
          <li class="active"><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
<% include layout/_footer %>
