<% include layout/_header %>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Статья же</h1>
        <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/:1"><%= author %></a></span>
        <hr>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quas reprehenderit, maxime sunt cumque in fugit quos, autem labore asperiores dolorum ex provident sapiente facere quod. Sequi sunt voluptatum non!</div>
        <div>Commodi quos mollitia et nesciunt expedita sunt reprehenderit facilis, minus accusantium optio iste, nisi sit iure voluptates incidunt soluta eveniet, a ipsam? Minus minima enim, eos quasi aperiam, architecto sapiente?</div>
        <div>Voluptates iusto vero incidunt explicabo at officiis praesentium ipsam accusamus, et laboriosam quos sapiente? Magnam eius enim odit tenetur nostrum eaque illum id quae eligendi temporibus. Hic ratione necessitatibus iste!</div>
        <div>Voluptas quasi nihil sequi, eum aliquid consequatur quaerat. Harum velit quisquam illum dolorum sed ea natus ullam minus numquam corporis! Nisi culpa quaerat dolores natus, id ducimus iure dicta optio!</div>
        <div>Exercitationem saepe delectus corporis tempore, nesciunt expedita voluptatibus autem maiores commodi, ipsam minus laborum qui est eos aspernatur, quos. Id sequi amet, dolore ut at ipsum quia provident sunt ipsa........</div>
        <br><a href="/post/1" class="btn btn-info" role="button">Читать в источнике</a>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Статья же</h1>
        <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/:1"><%= author %></a></span>
        <hr>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quas reprehenderit, maxime sunt cumque in fugit quos, autem labore asperiores dolorum ex provident sapiente facere quod. Sequi sunt voluptatum non!</div>
        <div>Commodi quos mollitia et nesciunt expedita sunt reprehenderit facilis, minus accusantium optio iste, nisi sit iure voluptates incidunt soluta eveniet, a ipsam? Minus minima enim, eos quasi aperiam, architecto sapiente?</div>
        <div>Voluptates iusto vero incidunt explicabo at officiis praesentium ipsam accusamus, et laboriosam quos sapiente? Magnam eius enim odit tenetur nostrum eaque illum id quae eligendi temporibus. Hic ratione necessitatibus iste!</div>
        <div>Voluptas quasi nihil sequi, eum aliquid consequatur quaerat. Harum velit quisquam illum dolorum sed ea natus ullam minus numquam corporis! Nisi culpa quaerat dolores natus, id ducimus iure dicta optio!</div>
        <div>Exercitationem saepe delectus corporis tempore, nesciunt expedita voluptatibus autem maiores commodi, ipsam minus laborum qui est eos aspernatur, quos. Id sequi amet, dolore ut at ipsum quia provident sunt ipsa........</div>
        <br><a href="/post/1" class="btn btn-info" role="button">Читать в источнике</a>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Статья же</h1>
        <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/:1"><%= author %></a></span>
        <hr>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quas reprehenderit, maxime sunt cumque in fugit quos, autem labore asperiores dolorum ex provident sapiente facere quod. Sequi sunt voluptatum non!</div>
        <div>Commodi quos mollitia et nesciunt expedita sunt reprehenderit facilis, minus accusantium optio iste, nisi sit iure voluptates incidunt soluta eveniet, a ipsam? Minus minima enim, eos quasi aperiam, architecto sapiente?</div>
        <div>Voluptates iusto vero incidunt explicabo at officiis praesentium ipsam accusamus, et laboriosam quos sapiente? Magnam eius enim odit tenetur nostrum eaque illum id quae eligendi temporibus. Hic ratione necessitatibus iste!</div>
        <div>Voluptas quasi nihil sequi, eum aliquid consequatur quaerat. Harum velit quisquam illum dolorum sed ea natus ullam minus numquam corporis! Nisi culpa quaerat dolores natus, id ducimus iure dicta optio!</div>
        <div>Exercitationem saepe delectus corporis tempore, nesciunt expedita voluptatibus autem maiores commodi, ipsam minus laborum qui est eos aspernatur, quos. Id sequi amet, dolore ut at ipsum quia provident sunt ipsa........</div>
        <br><a href="/post/1" class="btn btn-info" role="button">Читать в источнике</a>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li><a href="#">3</a></li>
          <li class="active"><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
<% include layout/_footer %>
