<% include layout/_header %>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1><%= title %></h1>
        <span class="date"><%= post.updatedAt.toLocaleDateString({year:"numeric",month:"numeric",day:"numeric"}) %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/<%= post.user.id %>" class="label label-info"> <%= post.user.name %> </a></span>
        <hr>
        <%= post.text %>
      </div>
    </div>
    <br>
    <% if( user && user.id===post.user.id || user && user.admin ){ %>
      <div class="row">
        <div class="notRegged col-md-12">
          <a href="/post/<%= post.id %>/edit" class="btn btn-warning">Редактировать</a>
          <a href="/post/<%= post.id %>/delete" class="btn btn-danger">Удалить</a>
        </div>
      </div>
      <% } %>

  </div>
  <% include layout/_footer %>
